

#homepage-tiles .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
}

.tile-container {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.centered-loop .elementor-loop-container {
    justify-content: center;
}
/* Desktop */
body[data-elementor-device-mode="desktop"] .centered-loop.elementor-grid-5 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(20% - 24px));
}
body[data-elementor-device-mode="desktop"] .centered-loop.elementor-grid-4 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(25% - 24px));
}
body[data-elementor-device-mode="desktop"] .centered-loop.elementor-grid-3 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(33.33% - 24px));
}
body[data-elementor-device-mode="desktop"] .centered-loop.elementor-grid-2 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(50% - 24px));
}
body[data-elementor-device-mode="desktop"] .centered-loop.elementor-grid-1 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
}
/* Tablet */
body[data-elementor-device-mode="tablet"] .centered-loop.elementor-grid-tablet-5 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(20% - 15px));
}
body[data-elementor-device-mode="tablet"] .centered-loop.elementor-grid-tablet-4 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(25% - 15px));
}
body[data-elementor-device-mode="tablet"] .centered-loop.elementor-grid-tablet-3 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(33.33% - 15px));
}
body[data-elementor-device-mode="tablet"] .centered-loop.elementor-grid-tablet-2 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(50% - 15px));
}
body[data-elementor-device-mode="tablet"] .centered-loop.elementor-grid-tablet-1 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
}
/* Mobile */
body[data-elementor-device-mode="mobile"] .centered-loop.elementor-grid-mobile-5 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(20% - 10px));
}
body[data-elementor-device-mode="mobile"] .centered-loop.elementor-grid-mobile-4 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(25% - 10px));
}
body[data-elementor-device-mode="mobile"] .centered-loop.elementor-grid-mobile-3 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(33.33% - 10px));
}
body[data-elementor-device-mode="mobile"] .centered-loop.elementor-grid-mobile-2 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, calc(50% - 10px));
}
body[data-elementor-device-mode="mobile"] .centered-loop.elementor-grid-mobile-1 .elementor-loop-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
}